$map-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
$button-radius: 2px;

.vl-map {
  * {
    box-sizing: border-box;
  }

  .vl-button--print {
    margin-right: 4rem;
  }
}

.vl-map__container {
  margin: 0;
  height: 575px;
  width: 100%;
  max-width:100%;
  font-family: sans-serif;
  margin-bottom: 3rem;
  position: relative;

  .ol-zoom, .ol-full-screen {
    top: auto;
    left: auto;
    right: 23px;
    bottom: 23px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid orange;
    width: 45px;

    button{
      border: 0;
      width: 100%;
      height: 43px;
      margin: 0 auto;
      position: relative;

      &:nth-child(2n) {
        &:before{
          top: 0;
          left: 6px;
          position: absolute;
          content: "";
          display: block;
          width: 28px;
          height: 1px;
          background-color: cadetblue;
        }
      }
    }

    border-radius: 3px;
  }

  .ol-full-screen{
    bottom: 120px;
  }

  .ol-control {
    padding: 0;

    button {
      color: beige;
      background: black;
    }
  }

  .vl-map__toggle {
    padding-left: 28px;
    min-width: 90px;
    height: 64px;
    box-shadow: $map-box-shadow;
    position: absolute;
    right: 88px;
    bottom: 23px;
    z-index: 9999;
    border: 3px solid $white;
    background: $white;
    display: flex;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;

    .vl-vi {
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.4rem;

      &:before{
        transform-origin: 50%;
        transition: all 0.2s ease-in-out;
      }
    }

    &__button {
      width: 58px;
      height: 58px;
      line-height: 95px;
      font-weight: 500;
      border: 0;
      color: $white;
      font-size: 1.2rem;
      padding: 0;
      text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
      text-transform: lowercase;
      position: absolute;
      right: 0;
      transition: all 0.2s ease-in-out;
    }

    &--open {
      width: auto;
      transition-duration: 0.25s;
      .vl-vi{
        &:before{
          transform: rotate(180deg) translateX(-2px);
          transition-duration: 0.3s;

        }
      }

      &__button {
        transition-duration: 0.3s;
      }
    }
  }
}

.vl-map--checkbox-list {
  display: flex;

  .vl-checkbox-list {
    padding-left: 0;

    .vl-checkbox-list__header {
      padding-left: 20px;
    }

    .vl-checkbox-list__list {
      li {
        padding-left: 20px;
      }
    }
  }
}

.vl-map__tooltip {
  position: absolute;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 1em;
  min-width: 180px;
  line-height: 1.22222em;
  font-family: "flanders-sans", sans-serif;
  text-align: center;
  padding: 20px 15px;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
  bottom: -80px;
  left: 0px;
  word-break: keep-all;
}

@media print {
  .vl-map-hide-all * {
    visibility: hidden;
  }

  .vl-map__container {
    visibility: visible;

    * {
      visibility: visible;
    }

    .vl-map__toggle {
      visibility: hidden;

      *{
        visibility: hidden;
      }
    }
  }

  div {
    &[class^="vl-col-"] {
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }
}
