body {
	background: green;
}

h1 {
    color: pink;
}


h1 {
  color: orange !important;
  border: none;
}


.thisISACLASSNAME {
  background: aqua;
}

@import 'components/button';
@import 'components/map';
